.title {
  display: flex;
  flex-direction: column;
}

.addProductBox {
  display: flex;
  align-items: center;
}

.quantityTitle {
  font-size: 1.3rem;
  color: #707070;
}

.productPrice {
  color: var(--red);
  font-weight: 700;
  font-size: 2rem;
}

.description {
  margin-top: 2rem;
  color: #707070;
}