ul li:first-child .labelTitle {
  color: var(--blue);
  font-weight: 700;
  margin-bottom: 1rem;
}

.calloutBody {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: .8rem;

}

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10rem;
  margin: 0 auto;

  padding: 0 5rem;

  ul {
    letter-spacing: 1.6px;
    line-height: 18px;
    gap: .5rem !important;
    font-size: 1rem !important;
    li a {
      color: #707070;
    }
  }
}