.root {
  max-width: 68.75rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

.checkoutTitle {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
}

.wrapperShippingResumeOrder {
  display: flex;
  gap: 3rem;
}

.boxCardAmountProduct {
  background: gray;
  padding: 1rem;
}