.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    font-size: .9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    strong {
      color: var(--red);
      margin-right: .7rem;
    }
  }
}