.listDots {
  margin: 0px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  li {
    font-size: 1rem !important;
    letter-spacing: .06rem !important;

    height: auto !important;
    min-width: 16rem !important;

    margin-top: -5rem !important;

    color: #14214e !important;
    background: #fff !important;
    border: 1px solid #262626 !important;
    border-top: 1px solid #d7d7d7!important;
  }

  li.slick-active {
    background: #14214e !important;
    color: #fff !important;
  }

  span {
    text-transform: uppercase !important;
    font-weight: 700 !important;
  }
}

.miniDots {
  margin: 0px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 1rem;

  li {
    color: #14214e !important;
    background: #fff !important;
  }

  span {
    text-transform: uppercase !important;
    font-weight: 700 !important;
  }
}


.slickArrows {
  height: 10rem !important;
}